.vscode/settings.json
AppBack/GestaoDeProfissionaisCludeAPI/bin/*
AppBack/GestaoDeProfissionaisCludeAPI/obj/*
AppBack/GestaoDeProfissionaisDomain/bin/*
AppBack/GestaoDeProfissionaisDomain/obj/*
AppBack/GestaoDeProfissionaisPersistence/bin/*
AppBack/GestaoDeProfissionaisPersistence/obj/*
GestaoDeProfissionaisCludeApp/bin/*
GestaoDeProfissionaisCludeApp/obj/*
.vscode/launch.json
