.vscode/settings.json
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/appsettings.Development.json
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/appsettings.json
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/GestaoDeProfissionaisCludeAPI.deps.json
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/GestaoDeProfissionaisCludeAPI.dll
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/GestaoDeProfissionaisCludeAPI.exe
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/GestaoDeProfissionaisCludeAPI.pdb
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/GestaoDeProfissionaisCludeAPI.runtimeconfig.json
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
AppBack/GestaoDeProfissionaisCludeAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
AppBack/GestaoDeProfissionaisCludeAPI/obj/GestaoDeProfissionaisCludeAPI.csproj.nuget.dgspec.json
AppBack/GestaoDeProfissionaisCludeAPI/obj/GestaoDeProfissionaisCludeAPI.csproj.nuget.g.props
AppBack/GestaoDeProfissionaisCludeAPI/obj/GestaoDeProfissionaisCludeAPI.csproj.nuget.g.targets
AppBack/GestaoDeProfissionaisCludeAPI/obj/project.assets.json
AppBack/GestaoDeProfissionaisCludeAPI/obj/project.nuget.cache
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/apphost.exe
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDe.C08D208C.Up2Date
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.AssemblyInfo.cs
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.AssemblyInfoInputs.cache
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.assets.cache
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.csproj.AssemblyReference.cache
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.csproj.CoreCompileInputs.cache
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.csproj.FileListAbsolute.txt
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.dll
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.GeneratedMSBuildEditorConfig.editorconfig
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.genruntimeconfig.cache
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.GlobalUsings.g.cs
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.MvcApplicationPartsAssemblyInfo.cache
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.MvcApplicationPartsAssemblyInfo.cs
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/GestaoDeProfissionaisCludeAPI.pdb
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/staticwebassets.build.json
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/ref/GestaoDeProfissionaisCludeAPI.dll
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/refint/GestaoDeProfissionaisCludeAPI.dll
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.GestaoDeProfissionaisCludeAPI.props
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.GestaoDeProfissionaisCludeAPI.props
AppBack/GestaoDeProfissionaisCludeAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.GestaoDeProfissionaisCludeAPI.props
AppBack/GestaoDeProfissionaisDomain/bin/Debug/net8.0/GestaoDeProfissionaisDomain.deps.json
AppBack/GestaoDeProfissionaisDomain/bin/Debug/net8.0/GestaoDeProfissionaisDomain.dll
AppBack/GestaoDeProfissionaisDomain/bin/Debug/net8.0/GestaoDeProfissionaisDomain.pdb
AppBack/GestaoDeProfissionaisDomain/obj/GestaoDeProfissionaisDomain.csproj.nuget.dgspec.json
AppBack/GestaoDeProfissionaisDomain/obj/GestaoDeProfissionaisDomain.csproj.nuget.g.props
AppBack/GestaoDeProfissionaisDomain/obj/GestaoDeProfissionaisDomain.csproj.nuget.g.targets
AppBack/GestaoDeProfissionaisDomain/obj/project.assets.json
AppBack/GestaoDeProfissionaisDomain/obj/project.nuget.cache
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.AssemblyInfo.cs
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.AssemblyInfoInputs.cache
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.assets.cache
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.csproj.CoreCompileInputs.cache
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.csproj.FileListAbsolute.txt
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.dll
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.GeneratedMSBuildEditorConfig.editorconfig
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.GlobalUsings.g.cs
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/GestaoDeProfissionaisDomain.pdb
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/ref/GestaoDeProfissionaisDomain.dll
AppBack/GestaoDeProfissionaisDomain/obj/Debug/net8.0/refint/GestaoDeProfissionaisDomain.dll
AppBack/GestaoDeProfissionaisPersistence/bin/Debug/net8.0/GestaoDeProfissionaisPersistence.deps.json
AppBack/GestaoDeProfissionaisPersistence/bin/Debug/net8.0/GestaoDeProfissionaisPersistence.dll
AppBack/GestaoDeProfissionaisPersistence/bin/Debug/net8.0/GestaoDeProfissionaisPersistence.pdb
AppBack/GestaoDeProfissionaisPersistence/obj/GestaoDeProfissionaisPersistence.csproj.nuget.dgspec.json
AppBack/GestaoDeProfissionaisPersistence/obj/GestaoDeProfissionaisPersistence.csproj.nuget.g.props
AppBack/GestaoDeProfissionaisPersistence/obj/GestaoDeProfissionaisPersistence.csproj.nuget.g.targets
AppBack/GestaoDeProfissionaisPersistence/obj/project.assets.json
AppBack/GestaoDeProfissionaisPersistence/obj/project.nuget.cache
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.AssemblyInfo.cs
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.AssemblyInfoInputs.cache
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.assets.cache
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.csproj.CoreCompileInputs.cache
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.csproj.FileListAbsolute.txt
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.dll
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.GeneratedMSBuildEditorConfig.editorconfig
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.GlobalUsings.g.cs
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/GestaoDeProfissionaisPersistence.pdb
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/ref/GestaoDeProfissionaisPersistence.dll
AppBack/GestaoDeProfissionaisPersistence/obj/Debug/net8.0/refint/GestaoDeProfissionaisPersistence.dll
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/appsettings.Development.json
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/appsettings.json
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/GestaoDeProfissionaisCludeApp.deps.json
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/GestaoDeProfissionaisCludeApp.dll
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/GestaoDeProfissionaisCludeApp.exe
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/GestaoDeProfissionaisCludeApp.pdb
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/GestaoDeProfissionaisCludeApp.runtimeconfig.json
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/GestaoDeProfissionaisCludeApp.staticwebassets.runtime.json
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/package-lock.json
GestaoDeProfissionaisCludeApp/bin/Debug/net8.0/package.json
GestaoDeProfissionaisCludeApp/obj/GestaoDeProfissionaisCludeApp.csproj.nuget.dgspec.json
GestaoDeProfissionaisCludeApp/obj/GestaoDeProfissionaisCludeApp.csproj.nuget.g.props
GestaoDeProfissionaisCludeApp/obj/GestaoDeProfissionaisCludeApp.csproj.nuget.g.targets
GestaoDeProfissionaisCludeApp/obj/project.assets.json
GestaoDeProfissionaisCludeApp/obj/project.nuget.cache
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/apphost.exe
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.AssemblyInfo.cs
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.AssemblyInfoInputs.cache
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.assets.cache
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.csproj.CoreCompileInputs.cache
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.csproj.FileListAbsolute.txt
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.dll
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.GeneratedMSBuildEditorConfig.editorconfig
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.genruntimeconfig.cache
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.GlobalUsings.g.cs
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.MvcApplicationPartsAssemblyInfo.cache
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.pdb
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.RazorAssemblyInfo.cache
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/GestaoDeProfissionaisCludeApp.RazorAssemblyInfo.cs
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/staticwebassets.build.json
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/staticwebassets.development.json
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/staticwebassets.pack.json
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/ref/GestaoDeProfissionaisCludeApp.dll
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/refint/GestaoDeProfissionaisCludeApp.dll
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/scopedcss/bundle/GestaoDeProfissionaisCludeApp.styles.css
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/scopedcss/projectbundle/GestaoDeProfissionaisCludeApp.bundle.scp.css
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/staticwebassets/msbuild.build.GestaoDeProfissionaisCludeApp.props
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.GestaoDeProfissionaisCludeApp.props
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.GestaoDeProfissionaisCludeApp.props
GestaoDeProfissionaisCludeApp/obj/Debug/net8.0/staticwebassets/msbuild.GestaoDeProfissionaisCludeApp.Microsoft.AspNetCore.StaticWebAssets.props
